.left-panel {
  /* min-height: 100vh; */
  min-height: 709px;
  position: relative;
}

.button-group {
  position: absolute;
  width: 103%;
  bottom: 0;
}

.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.c-link {
  cursor: pointer;
}

.no-border {
  border-radius: 0 !important;
}

.right-panel {
  position: relative;
}

.CodeMirror-scroll {
  height: 500px !important;
}

.sync-status {
  font-size: 12px;
  color: #959694;
  position: absolute;
  bottom: 46px;
  left: 10px;
}

.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
